<html>

<head>
</head>

<body>
  <div class="hero">
    <br />
    <div class="frosty col-10 offset-1 text-center">
      <br />
      <h1> Toronto's-Optimistic-Agile-Developers <br />is pleased to present:</h1>
      <br />
      <h2> Chesster by TOAD! </h2>
      <br />
     
      <br /><br />
    </div>
  </div>
<br class='clear'>
<br />
<center>
  <div class="btn-group btn-lg">
    <%= link_to 'Play Chess', new_game_path, class: 'btn btn-primary btn-lg show-play-join' %>
    <%= link_to 'Join a Game', games_path, class: 'btn btn-primary btn-lg show-play-join' %>
  </div>
</center>




</body>

</html>