    <h1>Create a Game</h1>
    <%= simple_form_for @game do |f| %>
      <%= f.input   :name %>
      <%= f.input   :white_id, as: :hidden, :input_html => { :value => current_user.id } %>
      <%= f.button  :submit %>
    <% end %>
<<<<<<< HEAD
=======
    
>>>>>>> c23e3c4c71eb5882d4e8a8686a8ecd3b1764cc42
