@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Grenze:700i&display=swap');
@import "font-awesome";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.white-tile {
  width: 12.5%;
  height: 12.5%;
  background-color: white;
  border: 1px solid rgb(44, 43, 43);
  background: image_url('whitetile.png') center fixed;
}

.black-tile {
  width: 12.5%;
  height: 12.5%;
  background-color: rgb(193, 154, 107);
  border: 1px solid rgb(44, 43, 43);
  background: image_url('blacktile.png') center fixed;
}

.black-tile:hover,
.black-tile:focus {
  opacity: .7;
}

.white-tile:hover,
.white-tile:focus {
  opacity: .7;
}

.rotate td {
  width: 33.5%;
}
.left {
  float:left;
} 
.right {
  float:right;
} 
.roate {
  z-index: -1;
  padding: 0;
}
.rotate table {
 height: auto;
 width: 80%;
 border: none;
 text-align:none;
 padding: none;
 box-shadow: none;
 vertical-align: center;
 padding: none;
 margin-top: -70px;
 margin-left:auto;
 margin-right: auto;
}
.rotate th {
  padding-bottom: 0px !important;
}
.rotate-board {
  cursor: pointer;
  color: rgb(247, 244, 244);
  background-color: #5553e9;
  font-weight: bold;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid rgb(53, 51, 51);
  font-family: 'Grenze', serif;
  width: 70px;
  text-align: center;
}

.rotate-board:hover, .rotate-board:focus {
  background-color: green;
}

table {
  height: 500px;
  width: 500px;
  -moz-box-shadow: 1px 1px 1px 1px #707070;
  -webkit-box-shadow: 1px 1px 1px 1px #707070;
  box-shadow: 1px 1px 1px 1px #707070;
  z-index: 2px;
}

table ::selection {
  color: none;
  background: none;
}

.set-board {
  position: relative;
  width: 500px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
}

.chess {
  position: fixed;
  width: 500px;
  margin-bottom: 50px;
  padding: 10px;
}

.y_labels {
  margin-top: -500px;
  width: 10px;
  margin-left: -20px;
  background-color: rgb(193, 154, 107) !important;
}

.x_labels {
  height: 10px;
  width: 500px;
  background-color: rgb(165, 136, 125) !important;
  margin-bottom: 10px;
}

#labels {
  position: fixed;
  color: white;
  text-align: center;
  font-weight: bold;
}

.forfeit {
  background-color: rgb(104, 12, 12);
  border: 1px solid silver;
  color: rgb(216, 213, 213);
  letter-spacing: 2px;
  padding-right: 4px;
  padding-left: 4px;
  margin: auto;
  border-radius: 2px;
  text-align: center;
}

.forfeit:hover, .forfeit:focus {
  background-color: black;
  color: whitesmoke;
  border: 2px solid red;
  font-weight: 700;
}

.white {
  color: rgb(129, 126, 124) !important;
  vertical-align: middle;
  text-shadow: #636060 1px 1px 0;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
}

.black {
  color: rgb(87, 72, 65) !important;
  vertical-align: middle;
  text-shadow: #d6d4d4 1px 1px 0;
  font-size: 50px;
  font-weight: 500;
  text-align: center !important;
  vertical-align: middle;
}

@media (max-width: 768px) {
  table {
    height: 200px;
    width: 200px;
    -moz-box-shadow: 1px 1px 1px 1px #707070;
    -webkit-box-shadow: 1px 1px 1px 1px #707070;
    box-shadow: 1px 1px 1px 1px #707070;
    z-index: 2px;
  }
  
  .set-board {
    position: relative;
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .chess {
    position: fixed;
    width: 200px;
    margin-bottom: 50px;
    padding: 10px;
  }
  
  .y_labels {
    margin-top: -200px;
    width: 10px;
    margin-left: -20px;
    background-color: rgb(193, 154, 107) !important;
  }
  
  .x_labels {
    height: 10px;
    width: 252px;
    background-color: rgb(165, 136, 125) !important;
    margin-bottom: 10px;
  }
  
  #labels {
    position: fixed;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  
  .white {
    color: rgb(129, 126, 124) !important;
    vertical-align: middle;
    text-shadow: #636060 1px 1px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
  }
  
  .black {
    color: rgb(87, 72, 65) !important;
    vertical-align: middle;
    text-shadow: #d6d4d4 1px 1px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center !important;
    vertical-align: middle;
  }
}
