@import "bootstrap";
@import "font-awesome";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.white-tile {
  width: 12.5%;
  height: 12.5%;
  background-color: white;
  border: 1px solid rgb(44, 43, 43);
  background: image_url('whitetile.png') center fixed;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.black-tile:hover,
.black-tile:focus {
  opacity: .7;
}

.white-tile:hover,
.white-tile:focus {
  opacity: .7;
}


table {
  height: 500px;
  width: 500px;
  -moz-box-shadow: 1px 1px 1px 1px #707070;
  -webkit-box-shadow: 1px 1px 1px 1px #707070;
  box-shadow: 1px 1px 1px 1px #707070;
  z-index: 2px;
}

table ::selection {
  color: none;
  background: none;
}

.set-board {
  position: relative;
  width: 500px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
}

.chess {
  position: fixed;
  width: 500px;
  margin-bottom: 50px;
  padding: 10px;
}

  .chess {
    position: relative;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }

.x_labels {
  height: 10px;
  width: 500px;
  background-color: rgb(165, 136, 125) !important;
  margin-bottom: 10px;
}

  .y_labels {
    margin-top: -500px;
    width: 10px;
    margin-left: -20px;
    background-color: rgb(193, 154, 107) !important;
  }

.white {
  color: rgb(129, 126, 124) !important;
  vertical-align: middle;
  text-shadow: #636060 1px 1px 0;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
}

.black {
  color: rgb(87, 72, 65) !important;
  vertical-align: middle;
  text-shadow: #d6d4d4 1px 1px 0;
  font-size: 50px;
  font-weight: 500;
  text-align: center !important;
  vertical-align: middle;
}

@media (max-width: 768px) {
  table {
    height: 200px;
    width: 200px;
    -moz-box-shadow: 1px 1px 1px 1px #707070;
    -webkit-box-shadow: 1px 1px 1px 1px #707070;
    box-shadow: 1px 1px 1px 1px #707070;
    z-index: 2px;
  }
  
  .set-board {
    position: relative;
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .chess {
    position: fixed;
    width: 200px;
    margin-bottom: 50px;
    padding: 10px;
  }
  
  .y_labels {
    margin-top: -200px;
    width: 10px;
    margin-left: -20px;
    background-color: rgb(193, 154, 107) !important;
  }
  
  .x_labels {
    height: 10px;
    width: 252px;
    background-color: rgb(165, 136, 125) !important;
    margin-bottom: 10px;
  }
  
  #labels {
    position: fixed;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  
  .white {
    color: rgb(129, 126, 124) !important;
    vertical-align: middle;
    text-shadow: #636060 1px 1px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
  }
  
  .black {
    color: rgb(87, 72, 65) !important;
    vertical-align: middle;
    text-shadow: #d6d4d4 1px 1px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center !important;
    vertical-align: middle;
  }
}
